<!doctype html>
<html>
  <head>
    <title>404 not found</title>
    <link href="/stylesheets/style.css" rel="stylesheet">
  </head>
  <body>
    <% include menu %>
    <h1>404 Not Found</h1>
    <p>Sorry we can't find that!</p>
  </body>
</html>
